<div class="box_air_all">
    <ul class="clearfix {{colClass}}">

        <li>
            <!--<p class="name">{{fncNm}}</p>-->
            <p class="name">온도</p>
            <p class="index">{{{checkTempFncVal}}}</p>
            <span class="sprite sprite_status {{tempStatusIconClass}}"></span>
        </li>

        <li>
            <!--<p class="name">{{fncNm}}</p>-->
            <p class="name">습도</p>
            <p class="index">{{{checkHumiFncVal}}}</p>
            <span class="sprite sprite_status {{humiStatusIconClass}}"></span>
        </li>

        <!--<li>-->
            <!--<p class="name">미세먼지</p>-->
            <!--&lt;!&ndash;<p class="name">{{fncNm}}</p>&ndash;&gt;-->
            <!--<p class="index">{{{checkDustFncVal}}}</p>-->
            <!--<span class="sprite sprite_status {{dustStatusIconClass}}"></span>-->
        <!--</li>-->

        <li>
            <!--<p class="name">{{fncNm}}</p>-->
            <p class="name">초미세먼지</p>
            <p class="index">{{{checkFineDustFncVal}}}</p>
            <span class="sprite sprite_status {{fineDustStatusIconClass}}"></span>
        </li>

        <li>
            <!--<p class="name">{{fncNm}}</p>-->
            <p class="name">화학물질</p>
            <p class="index">{{{checkVocFncVal}}}</p>
            <span class="sprite sprite_status {{VocStatusIconClass}}"></span>
        </li>

        <li>
            <!--<p class="name">{{fncNm}}</p>-->
            <p class="name">이산화탄소</p>
            <p class="index">{{{checkCo2FncVal}}}</p>
            <span class="sprite sprite_status {{Co2StatusIconClass}}"></span>
        </li>



    </ul>
</div>
