<div class="box_air_all">
    <ul class="clearfix {{colClass}}">

        <li>
            <!--<p class="name">{{fncNm}}</p>-->
            <p class="name">온도</p>
            <p class="index">{{{checkTempFncVal}}}</p>
            <span class="sprite sprite_status {{greenTempStatusIconClass}}"></span>
        </li>

        <li>
            <!--<p class="name">{{fncNm}}</p>-->
            <p class="name">습도</p>
            <p class="index">{{{checkHumiFncVal}}}</p>
            <span class="sprite sprite_status {{greenHumiStatusIconClass}}"></span>
        </li>

        <li>
            <p class="name">미세먼지</p>
            <!--<p class="name">{{fncNm}}</p>-->
            <p class="index">{{{checkDustFncVal}}}</p>
            <span class="sprite sprite_status {{greenDustStatusIconClass}}"></span>
        </li>

        <li>
            <!--<p class="name">{{fncNm}}</p>-->
            <p class="name">초미세먼지</p>
            <p class="index">{{{checkFineDustFncVal}}}</p>
            <span class="sprite sprite_status {{greenFineDustStatusIconClass}}"></span>
        </li>

        <li>
            <!--<p class="name">{{fncNm}}</p>-->
            <p class="name">화학물질</p>
            <p class="index">{{{checkVocFncVal}}}</p>
            <span class="sprite sprite_status {{greenVocStatusIconClass}}"></span>
        </li>

        <li>
            <!--<p class="name">{{fncNm}}</p>-->
            <p class="name">이산화탄소</p>
            <p class="index">{{{checkCo2FncVal}}}</p>
            <span class="sprite sprite_status {{greenCo2StatusIconClass}}"></span>
        </li>



    </ul>
</div>
